doctype.html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    
    title Alien Boss
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='assets/img/favicon.ico')
  
    // awesome font
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    
    // animation css style
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    
    // custom css style
    link(rel='stylesheet', href='assets/css/main.min.css')
    
  

    body
        include includes/preloader.jade
        
        .wrapper
          include includes/home-section.jade
          include includes/about-section.jade
          include includes/color-section.jade
          include includes/alien-section.jade
      
        // all javascript from gulp task 'scripts'
        script(src='assets/js/all.js')
        
