section#about.cf

  .container.cf
  
    .about-heading
      h1 About us
      
    .col
      .monsters.animation(data-animation-name="zoomInLeft" data-animation-delay=".8s")
        image(src="img/red-alien.svg" class="red-monster")
    
    .col
      .about-content
        .cloudlet.animation(data-animation-name="fadeInRight" data-animation-delay="1s")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        
      
