section#color.cf
  .container
  
    .color-heading
      h1 Colors
      
    .col
      .monsters.purple-monster-anim(data-animation-name="fadeInLeft" data-animation-delay=".2s")
        image(src="img/purple-alien.svg" class="purple-monster")
    
    .col
      .color-content
        .cloudlet.purple-monster-anim(data-animation-name="popUpLeft" data-animation-delay="1s")
          h3 Choose favorite background color
          ul.colors-boxes
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="1.2s" data-color="#f4696b")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="1.4s" data-color="#85a7c1")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="1.6s" data-color="#846FA3")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="1.8s" data-color="#7c8961")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="2s" data-color="#EFCC9C")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="2.2s" data-color="#afd4b3")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="2.4s" data-color="#CCA39C")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="2.6s" data-color="#01233f")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="2.8s" data-color="#647777")
            li.colors-box.purple-monster-anim(data-animation-name="zoomInLeft" data-animation-delay="3s" data-color="#48002F")
        
      
      
    
