section#color.cf

  .container.cf
  
    .color-heading
      h1 Colors
      
    .col
      .monsters.purple-monster-anim(data-animation-name="fadeInLeft" data-animation-delay="1s")
        image(src="img/purple-alien.svg" class="purple-monster")
    
    .col
      .color-content
        .cloudlet.purple-monster-anim(data-animation-name="fadeInRight" data-animation-delay="1.5s")
          p Mixtape glossier enim, consectetur semiotics master cleanse wolf sunt edison bulb post-ironic intelligentsia ullamco 3 wolf moon. 
        
      
