section#header

  .container
    .header-heading
      h1 Alien Boss
      p With Sass, Jade, Gulp, Bower, Bourbon 
      
  .sky
    img(src="img/cloud.png" class="cloud")
    img(src="img/cloud.png" class="cloud")
    img(src="img/cloud.png" class="cloud")
    img(src="img/cloud.png" class="cloud")
    img(src="img/cloud.png" class="cloud")
  
  .ufo-wrapper
    img(src="img/ufo.svg" class="ufo")
  
  .buildings
    img(src="img/alien.svg" class="alien")
    img(src="img/cityscape.svg" class="building")
    


  
  
  
    

  

    
    
