section#about
  height: auto
  position: relative
  background:
    color: $blue

  .about-heading
    h1
      color: $white

  .about-content
    margin-top: calc(50% - 120px)
    position: relative

    .cloudlet
      border: 5px solid #5883a7
      padding: 15px
      border-radius: 35px 35px 35px 0px


  .monsters
    position: relative
    margin-top: 4rem

    .red-monster
      width: 100%
  

// @media and only screen(max-width: $sm-screen)
