section#about
  position: relative
  background:
    color: #083458

  h1
    color: white

  .animation
    opacity: 0

    &.animated
      opacity: 1

  .robots

    .robot
      position: absolute
      left: 0
      max-width: 400px

      &.moveRobot
        animation-name: moveRobot
        animation-duration: 3s

      .clear
        both
